.moonies >span:nth-child(1)
{
    color:#020080;

}
.moonies >span:nth-child(2)
{
    color:#0f43a3;
}
.moonies >span:nth-child(3)
{
    color:#1b2dd3;
}
.moonies >span:nth-child(4)
{
    color:#2c23d5;
}
.moonies >span:nth-child(5)
{
    color:#261ebe;
}
.moonies >span:nth-child(6)
{
    color:#0f099d;
}
.moonies >span:nth-child(7)
{
    color:#06007f;
}
